@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    height: 100vh;
}

div#app {
    height: 100%;
}

h1 {
    color: hsl(184, 55%, 38%);
}

form {
    width: 100%;
    max-width: 500px;
    height: auto;

}

button {
    background: transparent;
    border: none;
}

li.listItem {
    cursor: pointer;
    padding: 10px;
    transition: ease 0.3s;
}

li.listItem:hover {
    background-color: hsl(184, 54%, 84%);
    color: #fff;
    font-weight: bold;
}

span#number {
    font-weight: bold;
    color: hsl(184, 55%, 38%);
}

.icon {
    color: #fff;
}